name: API Test Pipeline

on: [push]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/chekeout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.12'

    - name: Install dependecies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt

    - name: Run Tests
      env:
        GITHUB_TOKEN: ${{secrest.GITHUB_TOKEN}}
      run: |
        pytes --html=report.html